<!DOCTYPE html>
<html lang="en">

<head>
    <meta codigoSecreto="1753519329">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" Type="image/x-icon" href="https://cdn.icon-icons.com/icons2/881/PNG/512/Bottle_of_Water_icon-icons.com_68778.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <title>By João Lucas!</title>

    <link rel="icon" Type="image/x-icon" href="assets/favicon.ico">
    <title>Document</title>
</head>

<body>

    <div style="width:100%;>
        <div class="w3-container>
            <div class="w3-bar w3-green" style= height:50px;"
            >
              <a href="index.html" class="w3-bar-item w3-button w3-mobile w3-xlarge w3-white">Início</a>
              <a href="adicionarPessoa.html" class="w3-bar-item w3-button w3-mobile w3-xlarge">Adicionar Pessoa</a>
              <a href="listarPessoas.html" class="w3-bar-item w3-button w3-mobile w3-xlarge">Listar Pessoa</a>
              <a href="noticias.html" class="w3-bar-item w3-button w3-mobile w3-xlarge w3-right">Noticias</a>
              <a href="contato.html" class="w3-bar-item w3-button w3-mobile w3-xlarge w3-right">Contato</a>
              <a href="sobre.html" class="w3-bar-item w3-button w3-mobile w3-xlarge w3-right">Sobre o Sistema</a>
              
            </div>

    <br><h1><center>  Lista de Pessoas: </center></h1>
    <table class="w3-table w3-bordered">
        <form action="id" method="get"></form>
        <tr>
            <tr class="w3-green">
            <td> ID</td>
            <td> Nome Completo </td>
            <td> E-Mail </td>
            <td> Data de Nascimento</td>
            <td> Gênero </td>
            <td> Editar </td>
            <td> Remover </td>
            <tr>
                <td>1</td>
                <td> João Lucas </td>
                <td> <a href="mailto:budapardao01@gmail.com"> budapardao01@gmail.com</a></td>
                <td> 11/07/2001</td>
                <td> Masculino</td>
                <td> <a href=""> <input type="reset"" value="Editar"</td></a>
                <td> <input type="reset" value="Remover" <a href="budapardao01@gmail.com"</td></a>

        </tr>
        <tr> 
            <td>2</td>
            <td> Lucas João </td>
            <td> <a href="mailto:fernandesjoao.lucas01@gmail.com"> fernandesjoao.lucas01@gmail.com</a></td>
            <td> 07/11/2000</td>
            <td> Não informado</td>
            <td> <a href="#"> <input type="reset" value="Editar"</td></a>
            <td> <input type="reset" value="Remover" <a href="mailto:fernandesjoao.lucas01@gmail.com"</td></a>
        </tr>
<tr> 
    <td>3</td>
    <td> Joana Lucrecia</td>
    <td> <a href="mailto:jl.fernandes@hotmail.com"> jl.fernandes@hotmail.com</a></td>
    <td> 09/10/2006</td>
    <td> Feminino</td>
    <td> <a href=""> <input type="reset" value="Editar" editar</td></a>
    <td> <input type="reset" value="Remover" <a href="mailto:jl.fernandes@hotmail.com"</td></a>
</tr>
</table>
</body>

</html>